@model List<EarlySummer.BusinessModules.PetModules.Models.PetModel>
@{
    ViewBag.Title = "宠物";
}
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>宠物名称</td>
                <td>进入CD时间</td>
                <td>已进/还没</td>
                <td>上次时间</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var trClass = "";
                if (item.InCD) { trClass = "class=incd"; }
                <tr @trClass>
                    <td>@item.PetName</td>
                    <td>@item.InTime</td>
                    <td>@item.CDTime</td>
                    <td>@item.LastTime.Replace("/", "-")</td>
                </tr>
            }
        </tbody>
    </table>
}

